body {
  font-family:monospace;
  font-size: 18px;
  margin:0px;
  padding: 0px;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 5px inset rgb(230, 145, 240);
  margin: 0 auto;
  box-shadow: rgb(189, 176, 178) 5px 10px 15px;
}

button {
  background-color: rgb(230, 145, 240);
  border: 0px;
  padding: 5px;
  margin: 5px;
  color: white;
  text-transform: uppercase;
}
