@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Poiret+One&display=swap');

body {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 0px;
  background-color: rgb(23, 20, 48);
  color: gainsboro;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 706px;
}


button {
  background-color: rgb(23, 20, 48);
  border: 2px solid rgb(127, 42, 100);
  color:gainsboro;
  font-size: 0.7rem;
  margin: 5px;
  padding:5px;
}

#instructionTxt {
  width: 35%;
  text-align: justify;
  background-color: rgba(216, 216, 216, 0.185);
  padding: 10px 20px;
  display: none;
  position: relative;
  left: -85px;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgb(23, 20, 48);
  border: 3px solid rgb(127, 42, 100);
}

#title{
  display:flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: -350px;
}

h1 {
  color: gainsboro;
  font-size: 1.2rem;
  text-align:center;
}

h2 {
  color: rgba(255, 82, 226, 0.781);
  font-size: 1rem;
  text-align:center;
  position: relative;
  top: -20px;
}

p {
  color: gainsboro;
  font-size: .8rem;
  text-align:center;
}

